[Unit]
Description=Ordinals Scan service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/bitcoin-regtest-ord-bundle/
ExecStart=/usr/bin/bash /home/ubuntu/bitcoin-regtest-ord-bundle/ord.sh server --http-port 3003
Restart=always

[Install]
WantedBy=multi-user.target

